.App {
  text-align: center;
  color:black;
  font-weight: bolder;
}

.beast{
  display: inline-flex;
  background-color: rgba(111, 132, 239, 0.822);
  margin-top: 5%;
  margin-bottom: 5%;
  padding: auto;
  border: 5px solid rgb(93, 4, 237);
}
